Edit a Figure Page <br/><br/>

You are going to have the chance to edit <%=@figure.name%>'s page. <br/>


<form method="POST" action="/figures/<%=@figure.id%>">
  <input type="hidden" name="_method" value="PATCH">

<br/>
Figure Name:<br/>
<input type="text" name="figure[name]" id="name">


<%Landmark.all.each do |landmark|%>
<input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>" checked if ><%=landmark.name%><br/></input>
<%end%>

<input type="submit" value="Edit Figure">



</form>
